/* 
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografia
4. Estilos con temas visuales
5. Miscelaneous (otros)
 */

:root {
    /* Colores */
    --linear-gradient : linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;

    /* Tipografia */
    --tipo-dmsans: 'DM Sans', sans-serif;
    --tipo-inter: 'Inter', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

p {
    font-size: 1.4rem;
}

header {
    background: var(--linear-gradient);
    text-align: center;
    width: 100%;
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header img {
    height: 27px;
}

header h1 {
    color: var(--just-white);
    padding: 30px;
    font-size: 2.4rem;
}

header p {
    color: var(--soft-orange);
    font-size: 1.4rem;
    padding: 0 30px;
}

main {
    /* text-align: center; */
}

#first-section {
    background-color: var(--off-white);
    /* height: max-content; */
}

#first-section .first-section__bitcoin-logo {
    padding: 44px;
    display: block;
    margin: 0 auto;
    background-color: var(--off-white);
}

#first-section h2 {
    font-size: 2.4rem;
    text-align: center;
    color: var(--warm-black);
}

#first-section__main-paragraf {
    color: var(--grey);
    text-align: center;
    margin: 15px;
    font-size: 1.4rem;
}

.first-section__stats .first-section__stats__coins {

    margin: 0 auto;
}

.first-section__stats .first-section__stats__coins thead h3, 
.first-section__stats__comissions thead h3 {
    font-size: 1.8rem;
    padding: 10px;
}

#head-coins {
    color: var(--bitcoin-orange);
}

#head-comissions {
    color: var(--secondary-blue);
}

.first-section__stats .first-section__stats__coins tbody,
.first-section__stats .first-section__stats__comissions tbody {
    background-color: var(--just-white);
    font-family: var(--tipo-inter);
}

.stats__name {
    font-size: 1.6rem;
    padding: 10px 12px;
}

.stats__price {
    font-size: 1.4rem;
    padding: 11px 12px;
    text-align: right;
}

.trending-price {
    margin: 0 10px;
}

.first-section__stats {
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
}

.first-section__stats__footer{
    font-size: 1.2rem;
    font-family: var(--tipo-inter);
    color: var(--warm-black-1);
    padding: 8px;
    width: fit-content;
    margin: 15px auto;
    border-radius: 10px;
}

#footer-coins {
    background-color: var(--soft-orange);
}

#footer-comissions {
    background-color: var(--soft-blue);
}


.first-stat {
    border-radius: 10px 0 0 0;
}

.first-stat-price {
    border-radius: 0 10px 0 0;
}

.last-stat {
    border-radius: 0 0 0 10px;
}

.last-stat-price {
    border-radius: 0 0 10px 0;
}

.first-section__stats .first-section__stats__comissions {
    margin: 0 auto;
}

.first-section__stats__table {
    padding: 20px;
}

#second-section {
    background-color: var(--warm-black);
}

#second-section h2 {
    margin: 0 auto;
    font-size: 2.4rem;
    text-align: center;
    color: var(--just-white);
    padding-top: 64px;
    padding-bottom: 24px;
}

.second-section__main-p {
    margin: 0 auto;
    width: fit-content;
    font-size: 1.4rem;
    text-align: center;
    color: #808080;
    padding-bottom: 16px;
}

.second-section__container {
    background-color: var(--warm-black-1);
    margin: 16px auto;
    width: 288px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.second-section__container img {
    padding: 16px 18px 12px;
}

.second-section__container h3 {
    font-size: 1.8rem;
    color: var(--just-white);
    padding: 0 16px;
}

.second-section__container p {
    font-size: 1.4rem;
    color: #808080;
    padding: 10px 20px 22px 16px;
}

.second-section__main-container {
    padding-bottom: 24px;
}
/* .first-section__list{
    display: grid;
    grid-template-columns: 101px 101px;
    grid-template-rows: auto;
    justify-content: center;
}

.first-section__list ul{
    list-style: none;
    margin: 0 auto;
    font-size: 1.6rem;
    font-family: var(--tipo-inter);
}

.first-section__list__prices .first-section__list__price-1 {
    display: inline;
} */






