/* 
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografia
4. Estilos con temas visuales
5. Miscelaneous (otros)
 */

:root {
    /* Colores */
    --linear-gradient : linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;

    /* Tipografia */
    --tipo-inter: 'Inter', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

p {
    font-size: 1.4rem;
}

/* Header styles */

header {
    background: var(--linear-gradient);
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

header img {
    height: 27px;
    width: 150px;
    align-self: center;
}

.header__title-container h1 {
    color: var(--just-white);
    padding: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.header__title-container p {
    color: var(--soft-orange);
    font-size: 1.4rem;
    padding: 0 30px;
    font-weight: 500;
    line-height: 1.8rem;
}

.header__title-container .header__button {
    position: absolute;
    left: calc(50% - 114.5px);
    top: calc(100% - 25px);
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}

/* Main styles */

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

/* First section */

#first-section {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

#first-section .first-section__bitcoin-logo {
    margin: 0 auto;
    margin-bottom: 50px;
}

#first-section h2 {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    color: var(--warm-black);
}

.first-section__main-paragraf {
    color: #757575;
    text-align: center;
    margin: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
}

.first-section__stats .first-section__stats__coins {
    margin: 0 auto;
}

.first-section__stats .first-section__stats__coins thead h3, 
.first-section__stats__comissions thead h3 {
    font-size: 1.8rem;
    padding: 10px;
}

#head-coins {
    color: var(--bitcoin-orange);
}

#head-comissions {
    color: var(--secondary-blue);
}

.first-section__stats .first-section__stats__coins tbody,
.first-section__stats .first-section__stats__comissions tbody {
    background-color: var(--just-white);
    font-family: var(--tipo-inter);
}

.stats__name {
    font-size: 1.6rem;
    padding: 8px;
    min-height: 39px;
}

.stats__price {
    display: flex;
    font-size: 1.4rem;
    padding: 8px;
    justify-content: center;
    align-content: center;
    min-width: 95px;
}

.trending-price {
    margin: 0 6px;
}

.first-section__stats {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    align-content: center;
    max-width: 750px;
}

.first-section__stats__table {
    scroll-snap-align: center;
    min-width: 320px;
    width: 100%;
}

.first-section__stats__footer{
    font-size: 1.2rem;
    font-family: var(--tipo-inter);
    color: var(--warm-black-1);
    padding: 8px;
    width: fit-content;
    margin: 15px auto;
    border-radius: 10px;
}

#footer-coins {
    background-color: var(--soft-orange);
}

#footer-comissions {
    background-color: var(--soft-blue);
}


.first-stat {
    border-radius: 10px 0 0 0;
}

.first-stat-price {
    border-radius: 0 10px 0 0;
}

.last-stat {
    border-radius: 0 0 0 10px;
}

.last-stat-price {
    border-radius: 0 0 10px 0;
}

.first-section__stats .first-section__stats__comissions {
    margin: 0 auto;
}

/* Second section */

#second-section {
    background-color: var(--warm-black);
    position: relative;
}

.second-section__batata-logo {
    position: absolute;
    width: 41px;
    height: 25px;
    left: calc(50% - 20px);
    top: calc(0% - 12.5px);
    background-image: url('../assets/icons/batata.svg');
    background-repeat: no-repeat;
}

#second-section h2 {
    margin: 0 auto;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.6rem;
    color: var(--just-white);
    padding-top: 64px;
    padding-bottom: 24px;
}

.second-section__main-p {
    margin: 0 auto;
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.8rem;   
    color: #808080;
    padding-bottom: 16px;
}

.second-section__container {
    background-color: var(--warm-black-1);
    margin: 16px auto;
    width: 90%;
    min-width: 288px;
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.second-section__container img {
    padding: 16px 18px 12px;
}

.second-section__container h3 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
    padding: 0 16px;
}

.second-section__container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
    padding: 10px 20px 22px 16px;
}

.second-section__main-container {
    padding-bottom: 24px;
}

/* Third section */

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('../assets/img/bitcoinbaby2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--just-white);
}

/* Fourth section */

.fourth-section__plans {
    width: 100%;
    min-width: 320px;
    padding-bottom: 50px;
    text-align: center;
}

.plans__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
}

.plans__title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.plans__title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container__slider {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    align-content: center;
}

.plans-container__card {
    position: relative;
    scroll-snap-align: center;
    width: 60%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plan-card__title {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: #000000;
    padding-top: 31px;
}

.plan-card__price {
    position: relative;
    font-family: var(--tipo-inter);
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    margin-top: 8px;
}

.plan-card__price sup {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 4px;
}

.plan-card__saving {
    font-family: var(--tipo-inter);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #757575;
    margin-top: 9px;
}

.plan-card__call-to-action {
    margin-top: 16px;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--warm-black);
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    padding: 8px;
    width: 151px;
    height: 48px;
    font-family: 'DM Sans', sans-serif;
}

.plan-card__call-to-action span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../assets/icons/orange-right-arrow.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

.recommended-plan {
    position: absolute;
    top: calc(0% - 16px);
    left: calc(50% - 47px);
    background-color: var(--bitcoin-orange);
    padding: 8px;
    border-radius: 8px;
    color: var(--just-white);
    font-family: var(--tipo-inter);
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: bold;
}

.questions__title {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 90%;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.question__paragraf {
    width: 86%;
    min-width: 275px;
    max-width: 600px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question__paragraf p {
    width: fit-content;
    text-align: left;
}

.question__paragraf span {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url('../assets/icons/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Footer */

footer {
    background-color: var(--bitcoin-orange);
    display: flex;
    width: 100%;
    height: 150px;
}

footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li {
    margin: 10px 0;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
}